<% @comments.each do |comment| %>
  <div class="comments_list">
    <div class="comments-title">
      <%= comment.user.user_name %>さんの投稿
    </div>
    <div class="comments-items">
      <div class="content">
        <%= comment.content %>
      </div>
      <div class="comment-delete">
      <% if current_user == comment.user %>
        <%=link_to "削除", recipe_comment_path(comment.recipe,comment), method: :delete, remote: true, class:"comment-delete" %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>