<%= render "shared/header" %>

<div class="main-contents">
  <div class="articles">
    <%# @articles.each do |article| %>
      <div class="article" id=<%#= article.id%>>
        <div class="article-overview">
          <%#= link_to check_path(article) do %>
            <p class="article-title">
              <%#= article.title%>
            </p>
            <p class="article-content">
              <%#= article.content%>
            </p>
          <%# end %>
          <div class="article-information">
            <p class="article-post-date">
              <%#= article.created_at.strftime("%Y年 %m月 %d日") %>
            </p>
            
            <div class="article-check">
              <%# if Check.where(user_id: current_user.id, article_id: article.id).exists? %>
                <div class="article-check-button" data=<%#= article.id %>>
                  いいね！
                </div>
              <%# end %>
            </div>
          </div>
        </div>
        <%#= image_tag article.image.variant(resize_to_fill: [400, 400]), class: "article-image" %>
      </div>
    <%# end %>
  </div>

  <div class="ranking">
    <p class="ranking-name">
      週間ランキング
    </p>
  </div>
</div>

<%= render "shared/footer" %>