.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 200px;
  height: 200px;
}