/* header設定 */

.header{
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
}

.logo{
  height: 40px;
  width: 18%;
  position: absolute;
  left: 5%;
  top: -10%
}

.header-icon{
  width: 230px;
  height: 100px;
  object-fit: cover;
}

.header-btn{
  height: 40px;
  width: 30%;
  position: absolute;
  right: 5%;
  top: 25%;
  display: flex;
  justify-content: end;
}

.post-article-btn{
  height: 35px;
  width: 48%;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
  background: orange;
  margin-right: 4%;
  font-family: 'Zen Kurenaido', sans-serif;
}

.logout-btn{
  height: 35px;
  width: 48%;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
  color: white;
  background: orange;
  font-family: 'Zen Kurenaido', sans-serif;
}

.menu-bar{
  height: 40px;
  width: 100%;
  background: #d2691e;
  position: absolute;
  top: 100%;
}

.hidden{
  display: none;
}