.show-wapper {
  display: flex;
  background-color: bisque;
}
.show-main {
  background-color: bisque;
  padding-bottom: 40px;
}
.show-recipe{
  width: 100%;
  padding: 30px 200px 0;
  margin-top: calc(80px + 40px);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.show-recipe-title{
  height: 80px;
  padding: 5px;
  font-size: 40px;
  line-height: 70px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}


.show-recipe-image{
  display: block;
  height: 400px;
  margin: 20px auto 30px;
}

.show-recipe-content{
  padding: 5px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  height: auto;
}

.content {
  display: inline-block;
  text-align: left;
}
.show-recipe-content2{
  height: 40px;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(252, 34, 34);
  line-height: 30px;
  text-align: center;
  height: auto;
  margin-bottom: 20px;
}

.show-recipe-content3{
  padding: 0.2em 0.5em;
  margin: auto;
  color: #565656;
  background: peachpuff;
  box-shadow: 0px 0px 0px 10px peachpuff;
  border: dashed 2px #f4a460;
  border-radius: 8px;
  text-align: center;
  width: auto;
  font-weight: bold;
}

.mark {
  text-align: center;
  font-size: 30px;
}
.show-recipe-content3 p {
  margin: 0; 
  padding: 0;
  justify-content: center;
}
.title{
  padding: 0.2em 0.5em;
  margin: 10px auto;
  color: #565656;
  background: peachpuff;
  box-shadow: 0px 0px 0px 10px peachpuff;
  border: dashed 2px #f4a460;
  border-radius: 8px;
  text-align: center;
  width: auto;
  font-weight: bold;
}

.title p {
  margin: 0; 
    padding: 0;
}
.change-recipe{
  display: flex;
  justify-content: center;
  margin: 0 auto 30px;
}

.edit-recipe{
  height: 50px;
  width: 200px;
  margin-right: 10px;
}

.edit-btn{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  line-height: 50px;
  background-color: orange;
  font-family: 'Zen Kurenaido', sans-serif;
}

.delete-recipe{
  height: 50px;
  width: 200px;
  margin-left: 10px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.delete-btn{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  line-height: 50px;
  background-color: orange;
}

.return-toppage{
  height: 80px;
  width: 300px;
  margin:  auto;
  font-family: 'Zen Kurenaido', sans-serif;
  background-color: bisque;
}

.return-btn{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  line-height: 80px;
  color: white;
  background-color: orange;
}

.recipe-comments {
  padding-top: 500px;
  background-color: bisque;
}