.show-recipe{
  width: 100%;
  padding: 30px 200px 0;
  margin-top: calc(80px + 40px);
  margin-bottom: 30px;
}

.show-recipe-title{
  height: 80px;
  padding: 5px;
  font-size: 40px;
  line-height: 70px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}


.show-recipe-image{
  display: block;
  height: 400px;
  margin: 0 auto 30px;
}

.show-recipe-content{
  height: 40px;
  padding: 5px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  height: auto;
}

.title{
  text-align: center;
  height: 40px;
  padding: 5px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.change-recipe{
  display: flex;
  justify-content: center;
  margin: 0 auto 30px;
}

.edit-recipe{
  height: 50px;
  width: 200px;
  margin-right: 10px;
}

.edit-btn{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  line-height: 50px;
  background-color: orange;
  font-family: 'Zen Kurenaido', sans-serif;
}

.delete-recipe{
  height: 50px;
  width: 200px;
  margin-left: 10px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.delete-btn{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  line-height: 50px;
  background-color: orange;
}

.return-toppage{
  height: 80px;
  width: 300px;
  margin: 0 auto 40px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.return-btn{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  line-height: 80px;
  color: white;
  background-color: orange;
}
